/*hlavička*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

img{
    width: 250px;
    height: 200px;}

.logo{
    

}

a{
    margin-right: 50px;
    color: black;
    text-decoration: none;
}

/*struktura těla*/
body {
    margin: 0;
    background-color: lightgray;
}

.prace{
    margin: 25px;
}


/*patička*/
footer{
    margin: 0;
    background-color: rgb(165, 57, 33);
    color: white;
    text-align: center;
    display: flex;
    justify-content:center;
    gap: 10px;
    padding: 25px;
}


h1{
    text-decoration: underline;
}

/*2. str. KONTAKTY*/
.kontakt{
    margin-top: 50px;
    margin-left: 400px;
    color: black;
}

/*CIHLY*/
.cihla1{
    margin: auto;
}

.cihla2{
    margin: auto;
}

.cihla3{
    margin: auto;
}

/*2x str. ADRESA*/
.adresa{
    margin-left: 800px;
    margin-top: 0;
}