@media only screen and (max-device-width: 1000px) {

}

/*hlavička*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

header img{
    width: 150px;
    height: 120px;
}

.nadpis{
    color: black;
    padding: 6px;
    font-family: "Lucida Console", "Courier New", monospace;
}

a{
    margin-right: 50px;
    color: black;
    text-decoration:none;
    font-weight: bold;
    font-size: large;
}

a {
    background:
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        rgb(165, 57, 33),
        rgb(255, 153, 0),
        rgb(233, 217, 33)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  
a:hover {
    background-size: 0 3px, 100% 3px;
}

.wrapper{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*main*/
body {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prace{
    margin: 30px;
    padding-left: 35px;
}

.prace p{
    font-size: 15px;
}

.prace h1{
    font-size: 25px;
    text-decoration: underline;
}

.prace ul{
    font-size: 20px;
}

img{
    width: 150px;
    height: 120px;
}

.container{
    max-width: 1600px;
    margin: auto;
}

.container2{

}


/*Cards*/
.flip-card {
    background-color: transparent;
    width: 150px;
    height: 100px;
    border: 1px solid #000000;
    perspective: 1000px;
  }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}


/*footer*/
footer{
    background-color: rgb(165, 57, 33);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 25px;

}

.OtvD{
    margin-left: 30px;
    margin-right: 30px;
}

#podtr{
    text-decoration: underline;
}


/*footer mobile*/
@media only screen and (max-width: 1000px) {
    footer{
        margin: 0;
        background-color: rgb(165, 57, 33);
        color: white;
        text-align: center;
        display: flex;
        justify-content:center;
        flex-direction: column;
        gap: 10px;
        padding: 25px;
    }

    .OtvD{
        margin: 50px;
    }

    #podtr{
        text-decoration: underline;
    }


    .kontakt{
        padding: 10px;
    }


    .adresa{
        padding: 10px;
    }
}

/*Hlavička mobile*/
@media only screen and (max-width: 460px) {
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

header img{
    width: 150px;
    height: 120px;
}

.nadpis{
    font-size: 0;
}

a{
    margin-right: 50px;
    color: black;
    text-decoration:none;
    font-weight: bold;
    font-size: large;
}}


/*Main mobile*/
@media only screen and (max-device-width: 1000px) {
    .prace p{
        font-size: 13px;
    }
    .prace h1{
        font-size: 23px;
    }
}