@media only screen and (max-device-width: 1000px) {

}

/*hlavička*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

header img{
    width: 150px;
    height: 120px;
}

.nadpis{
    color: black;
    padding: 6px;
    font-family: "Lucida Console", "Courier New", monospace;
}

a{
    margin-right: 50px;
    color: black;
    text-decoration:none;
    font-weight: bold;
    font-size: large;
}

a {
    background:
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        rgb(165, 57, 33),
        rgb(255, 153, 0),
        rgb(233, 217, 33)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  
a:hover {
    background-size: 0 3px, 100% 3px;
}

.wrapper{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*body*/
body {
    margin: 0;
    background-color: lightgray;
}

.prace{
    margin: 30px;
}

img{
    width: 150px;
    height: 120px;
}

.container{
    max-width: 1300px;
    margin: auto;
}

/*patička*/
footer{
    margin: 0;
    background-color: rgb(165, 57, 33);
    color: white;
    text-align: center;
    display: flex;
    justify-content:center;
    gap: 10px;
    padding: 25px;
}

.OtvD{
    margin: 50px;
}

#podtr{
    text-decoration: underline;
}


.kontakt{
    padding: 10px;
}


.adresa{
    padding: 10px;
}

/*footer mobile*/
@media only screen and (max-width: 1000px) {
    footer{
        margin: 0;
        background-color: rgb(165, 57, 33);
        color: white;
        text-align: center;
        display: flex;
        justify-content:center;
        flex-direction: column;
        gap: 10px;
        padding: 25px;
    }

    .OtvD{
        margin: 50px;
    }

    #podtr{
        text-decoration: underline;
    }


    .kontakt{
        padding: 10px;
    }


    .adresa{
        padding: 10px;
    }
}

/*Hlavička mobile*/
@media only screen and (max-width: 460px) {
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

header img{
    width: 150px;
    height: 120px;
}

.nadpis{
    font-size: 0;
}

a{
    margin-right: 50px;
    color: black;
    text-decoration:none;
    font-weight: bold;
    font-size: large;
}}